[include]
	path = ~/.gitconfig.local

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = simple

[core]
	editor = nvim
	autocrlf = input

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate --all
